.jb-logo {
  background-color: #244a83;
  padding: 5px 9px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}
.desktop.result {
  border-radius: 8px;
}

/* Notifications */
#jb-notifications {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  font-weight: bold;
  font-family: 'Noto Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.jb-notif-outer {
  opacity: 1;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 8px;
  border-radius: 3px;
  transition: opacity .25s ease-in-out;
}
.jb-opaque {
  opacity: 0;
  transition: 6s;
}
.jb-notif-title {
  font-size: 0.8em;
}
.jb-notif-message {
  font-size: 0.75em;
}
.jb-notif-style-green {
  background-color: #dff0d8;
  color: #468847;
  border: 1px solid #afc5af;
}
.jb-notif-style-red {
  background-color: #ff9d9d;
  color: #900000;
  border: 1px solid #5a0000;
}



.jb-controls {
  display: flex;
  background-color: #d0f2ff;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  cursor: default;
  align-items: center;
}
.jb-status-select {
  margin-right: 8px;
  font-weight: bold;
}
.jb-sync-button {
  background-color: #ffffffa8;
  height: 23px;
  width: 23px;
  cursor: pointer;
  background-size: contain;
}
.jb-status-0 {
  background-color: #b4b4b4 !important;
}
.jb-status-0 .jb-controls {
  background-color: #565656;
}
.jb-status-1 {
  background-color: #def0ff !important;
}
.jb-status-1 .jb-controls {
  background-color: #5fb5ff;
}
.jb-status-2 {
  background-color: #f0ffea !important;
}
.jb-status-2 .jb-controls {
  background-color: #89df74;
}
.jb-status-3 {
  background-color: #fff9db !important;
}
.jb-status-3 .jb-controls {
  background-color: #ffd60f;
}
.jb-status-4 {
  background-color: #e1ffce !important;
}
.jb-status-4 .jb-controls {
  background-color: #4bb000;
}
.jb-status-5 {
  background-color: #ffc8c8 !important;
}
.jb-status-5 .jb-controls {
  background-color: #ff8787;
}
